@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
:root {
  --Font: 'Montserrat';

  --color1: #9CFF2D;
  --color10: rgb(156, 255, 45, 0.5);
  --color2: #ECECEC;
  --color3: #d0d0d0;
  --color4: #000000;
  --color5: #FFFFFF;
  --color6: transparent;

  --bold: font-weight:bold;
}
